<!-- Navbar -->
<div>
    <div class="navbar navbar-inverse navbar-climatempo navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#/">
                            <img src="/assets/img/logo-white.png" width="150em">
                        </a>
                    </div>

                    <div id="navbar" class="navbar-left navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="#/weather">Home</a></li>
                        <li><a href="#/">Satélite</a></li>
                        <li><a href="#/">Notícias</a></li>
                        <li><a href="#/">Consultoria</a></li>
                      </ul>
                    </div>

                    <div class="navbar-right col-md-4">
                        <search-locales></search-locales>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>